<head>

</head>
<body>
<div class="card mb-3">
  <img class="card-img-top" src="{{avatar}}" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title">{{first_name}} {{last_name}}</h3>
    <h4>User id: {{id}}</h4>
    <h4>Contact info: {{email}}</h4>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cupiditate maxime repellendus iste nisi tenetur eum molestiae praesentium, odit beatae placeat expedita? Eius blanditiis voluptas eligendi veritatis ullam dolorem libero.</p>
</div>
</body>