<head>
     <title>{{title}}</title>
    {{#each script}}
    <script src = "{{this}}"></script>
    {{/each}}
    <title>Home page</title>
    {{#each css}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
</head>
<body>
      <div class="container">
        <div class="row">
            <div class="col-md">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand">Navbar</a>
                    <form class="form-inline" method="POST" action="/finduser" validate>
                    <input name = "id" class="form-control mr-sm-2" type="search" placeholder="Search by user id" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </div>
        </div>
        <div class="row">
           
            <div class="col-md">
                <div class="card h-100">
                    <div class="card-header bg-primary text-white">Main title</div>
                    <div class="col col-lg-2 align-self-end">
                    <a href="/addnew" type="button" class="btn btn-primary">+ add new user</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Avatar</th>
                                <th scope="col" class ="text-center">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              {{#each users}}
                              <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{first_name}}</td>
                                <td>{{last_name}}</td>
                                <td>{{email}}</td>
                                <td><img src="{{avatar}}" alt=""></img></td>
                                <td class="text-center">
                                  <a href="/detail?id={{id}}" type = "button" class = "btn btn-light btn-small">Detail</a>
                                  <a href="/update?id={{id}}" type = "button" class = "btn btn-light btn-small">Update</a>
                                  <a href="/delete?id={{id}}" type = "button" class = "btn btn-light btn-small">Delete</a>
                                </td>
                                </tr>
                              {{/each}}
                            </tbody>
                        </table> 
                    </div>
                    <div class="pagination d-flex justify-content-center">
                    <a class ="anchor" href="/next?page=1"> &laquo;</a>
                    {{#each pages}}
                    <a class ="anchor pagnationDetail {{state}}" href="/next?page={{pageNum}}"> {{pageNum}}</a>
                    {{/each}}
                    <a class ="anchor" href="/next?page={{lastpage}}"> &raquo;</a>
                    </div>
                    
                </div>
                
            </div>
                
        </div>
      </div>
       <script type="text/javascript">
                
        $(window).on('load',(function() {
          
        }));
          
       </script>
</body>